* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
}
.main {
  width: 1440px;
  height: 800px;
}
p {
  color: hsl(228, 12%, 44%);
  font-weight: 700;
  font-size: 14px;
}
/*-------------------------------------------------------------*/
.top {
  width: 1440px;
  height: 245px;
  background: hsl(225, 100%, 98%);
  border-radius: 0 0 20px 20px;
  padding: 40px 160px;
  display: flex;
  justify-content: space-between;
}
/*-------------------------------------------------------------*/
.stats {
  display: flex;
  padding: 0 160px;
  position: relative;
  top: -107.5px;
}
.stats-item {
  width: 255px;
  height: 215px;
  border-radius: 10px;
  margin-right: 30px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h6 {
  color: hsl(228, 12%, 44%);
  margin-bottom: 20px;
}
h1 {
  font-size: 55px;
}
h5 {
  text-transform: uppercase;
  font-weight: 400;
  color: hsl(228, 12%, 44%);
  letter-spacing: 5px;
  margin-bottom: 20px;
}
.green {
  color: hsl(163, 72%, 41%);
  font-size: 12px;
  padding-left: 10px;
  background: url(images/icon-up.svg) no-repeat;
  background-position: 0 50%;
}
.red {
  color: hsl(356, 69%, 56%);
  font-size: 12px;
  padding-left: 10px;
  background: url(images/icon-down.svg) no-repeat;
  background-position: 0 50%;
}
.fb {
  border-top: 3px solid hsl(208, 92%, 53%);
  background: hsl(227, 47%, 96%) url(images/icon-facebook.svg) no-repeat;
  background-position: 30% 13%;
}
.tw {
  border-top: 3px solid hsl(203, 89%, 53%);
  background: hsl(227, 47%, 96%) url(images/icon-twitter.svg) no-repeat;
  background-position: 30% 13%;
}
.ins {
  border-top: 3px solid hsl(37, 97%, 70%);
  background: hsl(227, 47%, 96%) url(images/icon-instagram.svg) no-repeat;
  background-position: 25% 13%;
}
.yt {
  border-top: 3px solid hsl(348, 97%, 39%);
  background: hsl(227, 47%, 96%) url(images/icon-youtube.svg) no-repeat;
  background-position: 30% 13%;
}
/*-------------------------------------------------------------*/
h3 {
  padding-left: 160px;
  color: hsl(228, 12%, 44%);
}
.overview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 160px;
}
.overview-item {
  width: 255px;
  height: 125px;
  border-radius: 10px;
  margin: 0 30px 30px 0;
  padding: 25px;
}
.item-nmbrs {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.btm {
  padding-top: 7px;
}
.fcb {
  background: hsl(227, 47%, 96%) url(images/icon-facebook.svg) no-repeat;
  background-position: 90% 20%;
}
.insta {
  background: hsl(227, 47%, 96%) url(images/icon-instagram.svg) no-repeat;
  background-position: 90% 20%;
}
.twito {
  background: hsl(227, 47%, 96%) url(images/icon-twitter.svg) no-repeat;
  background-position: 90% 20%;
}
.tube {
  background: hsl(227, 47%, 96%) url(images/icon-youtube.svg) no-repeat;
  background-position: 90% 20%;
}
